{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Motor and Machine Admin Panel</title>
    <meta name="description" content="Grandin is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords"
          content="admin, admin dashboard, admin template, cms, crm, Grandin Admin, Grandinadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <!-- vector map CSS -->
    <link href="{% static 'vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css' %}"
          rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
<!--Preloader-->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!--/Preloader-->

<div class="wrapper pa-0">
    <header class="sp-header">
        <div class="sp-logo-wrap pull-left">
            <a href="javascript:void(0)">
                <img class="brand-img mr-10" src="{% static 'img/logo.png' %}" alt="brand" />
                <span class="brand-text">Motor and Machine Admin Panel</span>
            </a>
        </div>
        <div class="clearfix"></div>
    </header>

    <!-- Main Content -->
    <div class="page-wrapper pa-0 ma-0 auth-page">
        <div class="container-fluid" style="background: #db6400;">
            <!-- Row -->
            <div class="table-struct full-width full-height">
                <div class="table-cell vertical-align-middle auth-form-wrap">
                    <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="mb-30">
                                    <h3 class="text-center txt-dark mb-10">Sign in to mAndm</h3>
                                    <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                                </div>
                                <div class="form-wrap">
                                    <form>
                                        <div class="form-group">
                                            <label class="control-label mb-10" for="exampleInputEmail_2">Username</label>
                                            <input class="form-control" required=""
                                                   id="exampleInputUsername_2" placeholder="Enter username">
                                        </div>
                                        <div class="form-group">
                                            <label class="pull-left control-label mb-10"
                                                   for="exampleInputpwd_2">Password</label>
                                            <a class="capitalize-font txt-primary block mb-10 pull-right font-12"
                                               style="color: #0c0c0c !important;"
                                               href="forgot-password.html">forgot password ?</a>
                                            <div class="clearfix"></div>
                                            <input type="password" class="form-control" required=""
                                                   id="exampleInputpwd_2" placeholder="Enter pwd">
                                        </div>

{#                                        <div class="form-group">#}
{#                                            <div class="checkbox checkbox-primary pr-10 pull-left">#}
{#                                                <input id="checkbox_2" required="" type="checkbox">#}
{#                                                <label for="checkbox_2"> Keep me logged in</label>#}
{#                                            </div>#}
{#                                            <div class="clearfix"></div>#}
{#                                        </div>#}
                                        <div class="form-group text-center">
                                            <a type="button" class="btn btn-primary  btn-rounded"
                                               style="background-color: #0c0c0c" onclick="form_submit(this)">sign in</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->
        </div>

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->


<!-- JavaScript -->

<!-- jQuery -->
<script src="{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- notify.js -->
<script src="{% static 'js/notify.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>

<!-- Slimscroll JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

<!-- Init JavaScript -->
<script src="{% static 'js/init.js' %}"></script>
<script>
    function form_submit(event) {
        data = {
            "username": $("#exampleInputUsername_2").val().trim(),
            "password": $("#exampleInputpwd_2").val(),
        };
        if (data.username.length > 0 && data.password.length > 0) {
            const csrftoken = "{{ csrf_token }}"
            $.ajax({
                url: '/api/login',
                type: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        $.notify(data.message, "success", {color: "#fff", background: "#D44950"});
                        setTimeout(() => {  window.location="/blog/landing"; }, 2000);
                    } else {
                        $.notify(data.message, "error", {color: "#fff", background: "#D44950"});
                    }
                },
                error: function () {
                    $.notify("Something bad happened !", "error", {color: "#fff", background: "#D44950"});
                }
            });
        } else {
            $.notify("Please fill the mandatory fields !", "error", {color: "#fff", background: "#D44950"});
        }
    }
</script>
</body>

</html>